body{
    text-align: center;
    background-color: rgb(6, 6, 80);
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.container{
    width: 800px;
    border: 5px solid white;
    margin: 50px auto;
    padding: 25px;

}

.link a{
    text-decoration: none;
    color: white;
    display: block;
}

.link {
    border: 5px solid white;
    background-color: rgb(6, 6, 80) ;
    max-width: 250px;
    padding: 15px;
    margin: 20px auto;
}

@media screen and (max-width:600px){
    h1{
        font-size: 18px;
    }

    h2{
        font-size: 12px;
    }

    .container { max-width: 400px;}
}

